*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background-color:#042940;
    display: grid;
    place-items: center;

}

.calculadora{
    background-color: #005C53;
    color: #DBF227;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: .5rem;
   
}

.pantalla {
    grid-column: 1/-1;
    background-color: #042940;
    padding: 1.5rem;
    font-size: 3rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.btn{
    background-color: #DBF227;
    color: #042940;
    border: 0;
    border-radius: 35px;
    padding: 1rem 1rem;
    font-size: 30px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn:hover{
    background-color: #9FC131;
}

#cero{
    grid-column: span 2;
}

#igual{
    grid-row: span 2;
    background-color:  #dddb5a;
}

#igual:hover{
    background-color:  #8b8a4e;
}

